<div class="side-bar-top">
  <div class="user-name">
    <a href="#">Ayato</a>
  </div>
  <div class="chat-create">
    <a href="#">チャットを作成する</a>
  </div>
</div>

<div class="side-bar-main">
  <div class="room">
    <div class="room-name">
      <a href="#">chatroom1</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">chatroom2</a>
    </div>
  </div>
</div>