.wrapper {
  display: flex;
}

.side-bar {
  height: 100vh;
  width: 300px;
  background-color: #253141;
}

.side-bar-top {
  height: 100px;
  padding: 0 20px;
}

.side-bar-main {
  height: calc(100vh - 100px);
  background-color: #2F3E51;
  padding: 0 20px;
}

.main-chat {
  width: calc(100vw - 300px);
  background-color: #ffffff;
}

.main-chat-top {
  height: 100px;
  padding: 0 40px;
}

.main-chat-center {
  height: calc(100vh - 100px - 90px);
  background-color: #FAFAFA;
  padding: 46px 46px 0;
}

.main-chat-bottom {
  height: 90px;
  background-color: #DDDDDD;
  padding: 20px 40px;
}